* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  overflow: hidden;
}


.green {
  background-color: green;
}

.red {
  background-color: red;
}

.violet {
  background-color: violet;
}

.subtitle a{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;

}

.subtitle {
  text-align: center;
  padding-top: 10px;
}

.descrizione{
  
}


/* FINE REGOLE GENERALI */

/* inizio main */
main {
  display: flex;
  height: calc(100% - 90px);
}

.main-playlist{
  flex-grow: 2;
  min-height: 200px;
  /* barra laterale */
  overflow-y: auto;
}




.main-nav {
  width: 250px;
  height: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 90px;
  background-color: rgb(38, 42, 96);
  overflow-y: scroll;
}

.call-to-action {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.52);
  width: calc(100% - 250px);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.call-to-action .btn {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right: 30px;
}

.call-to-action a.btn {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
/* END SECTION TOP EFFETTUA L'UPGRADE */

.logo{
  margin: 15px 15px;
}

.link_white a{
  text-decoration: none;

  color: grey;
  font-size: 20px;
  margin-left: 10px;
}

.link_white i{
  font-size: 25px;
  margin-bottom: 5px;
}

.link_white a:hover{
  color: white;
}
/* end main-nav */

/* start playlist */
.main-playlist h3{
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 20px;

}

.main-playlist li a {
  color: grey;
  text-decoration: none;
  margin-left: 10px;
}

.main-playlist li{
  margin-bottom: 10px;
}

.main-playlist i{
  font-size: 35px;

}
/* end playlist */

/* start categorie */

.categorie{
  display: flex;
  justify-content: center;
}

.categoria{
  margin-top: 15px;
  width: 200px;
  height: 100px;

}
/* end categorie */

.title{
  margin-top: 25px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}

.categorie a{
  text-decoration: none;
  text-transform: uppercase;
  color: grey;

}
/********** end categorie */
.recently-played{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.elementi{
  width: calc(100% / 6);
  padding-right: 10px;

}

.elementi img{
  width: 100%;
  height: 100%;

}

.elementi a:hover{

}


/* end recently-played */






















/* start main nav footer */

.main-nav-footer a{
  color: grey;
  text-decoration: none;
  margin-left: 10px;


}



.main-nav-footer h2{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid white;
}





/******************FINE MAIN */

/* inizio footer */
footer {
  width: 100%;
  height: 90px;

  bottom:0;
  left: 0;
  background-color: grey;
}
/******************FINE FOOTER */
